.grid {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 90vh;
}
header,
footer {
  grid-column: 1/4;
}
header,
aside,
article,
footer {
  border-style: solid;
  padding: 0;
}
